.filter-item {
    color: #1f2b33;
    cursor: pointer;
    padding: 2px 0;
    max-height: unset;
    border-top: 1px solid rgba(0, 0, 0, 0.42);
    position: relative;
}

.filter-item:first-of-type {
    border-top: 0;
}

label.clickable.filter-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    background: #d0b55e;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    max-height: 0.1px;
    opacity: 0;
}

label.clickable.filter-item.true:after {
    max-height: 10rem;
    opacity: 1;
}

label.filter-item.true {
    color: white;
}

label.filter-item:hover,
label.filter-item:focus-within {
    background: #d0b55e7c;
    max-height: 10rem;
}

.filter-item span.name {
    padding: 0.2rem 0.5rem;
    text-align: left;
    width: 100%;
}

.filter-item span.count {
    margin: 0;
    border-left: 0.5px solid rgba(255, 255, 255, 1);
    padding: 0.2rem 0.5rem;
    display: flex;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    align-items: center;
    min-width: 1rem;
    display: block;
}

label.filter-item input {
    width: 0;
    margin: 0;
    opacity: 0;
}

@media(max-width: 768px) {
    .filter-item span.count,
    .filter-item span.name {
        padding: 0.3rem 0.5rem;
    }
}
