.fa-external-link-alt {
    margin-left: 0.5rem;
}

.HighlightedProduct .title {
    margin: 0.5rem 0;
    font-weight: 400;
    font-size: 1.2rem;
}

.HighlightedProduct .ProductComp,
.HighlightedProduct .ProductComp > button {
    cursor: default;
    box-shadow: none !important;
    outline: none !important;
}

.HighlightedProduct .ProductComp .product_img {
    min-height: 150px;
}


@media(max-width: 768px) {
    .HighlightedProduct {
        margin-top: 10px;
        width: calc(100% - 20px);
    }
}

.HighlightedProduct {
    background: white;
    box-shadow: 2px 2px 9px rgb(0 0 0 / 50%);
    border-radius: 16px;
    max-width: 25rem;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    overflow-y: overlay;
    overflow-x: hidden;
    position: relative;
    transition: 0.2s 0.05s;
    display: flex;
    color: black;
    flex-wrap: wrap;
    padding: 0.5rem 0.75rem;
}

.HighlightedProduct::-webkit-scrollbar,
.HighlightedProduct ul::-webkit-scrollbar,
.HighlightedProduct .product_stock::-webkit-scrollbar {
    display: none;
}

.HighlightedProduct .product_img {
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30%;
}

.HighlightedProduct .product_stock ul {
    padding: 0;
    max-height: 15rem;
    overflow-x: hidden;
    margin: 0;
}

.HighlightedProduct .product_stock {
    width: 100%;
}

.HighlightedProduct .product_stock li {
    font-size: 0.8rem;
    list-style: none;
    padding: 0.5rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    background: #fafafa;
}

.HighlightedProduct .product_stock li:nth-of-type(odd) {
    background: #e8edf1;
}

.HighlightedProduct .product_details {
    display: grid;
    width: 70%;
    font-size: 0.9rem;
    grid-template-areas: "nam nam" "pri det" "opr det" "opr det" "lipri sugar" "prialc acid" "rating rating" "des des";
}

.HighlightedProduct .liter_price_alchohol {
    grid-area: prialc;
    margin-top: 0.25rem;
}

.HighlightedProduct .liter_price {
    grid-area: lipri;
    margin-top: 0.25rem;
}

.description span {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 400;
    margin-top: 5px;
}

.HighlightedProduct .descriptionText {
    width: 100%;
    margin: 0.5rem 0.5rem 0;
}

.HighlightedProduct .descriptionText span {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 400;
    margin-top: 5px;
}

.HighlightedProduct .alcohol {
    grid-area: alk;
}

.HighlightedProduct .details {
    grid-area: det;
}

.HighlightedProduct .description {
    grid-area: des;
}

.HighlightedProduct .stock {
    grid-area: sto;
}

.HighlightedProduct .stock svg {
    opacity: 0.5;
}

.HighlightedProduct .price {
    grid-area: pri;
    font-size: 1.2rem;
}

.HighlightedProduct .old_price {
    grid-area: opr;
    text-decoration: line-through;
}

.HighlightedProduct .name {
    grid-area: nam;
    margin: 0 1.2rem 0.5rem 0;
    font-size: 1.2rem;
}

.HighlightedProduct .acid {
    grid-area: acid;
    margin-top: 0.25rem;
}

.HighlightedProduct .sugar {
    grid-area: sugar;
    margin-top: 0.25rem;
}

.HighlightedProduct .buttons {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.HighlightedProduct .percentage_change {
    position: absolute;
    top: 0;
    left: 0;
}

.HighlightedProduct .productWatchBtns {
    transform: scale(1.2);
}

.HighlightedProduct .ratingWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0.5rem;
}

.HighlightedProduct .rating {
    height: 1.75rem;
    margin: -1rem auto;
    text-align: center;
    line-height: 1.75rem;
    background: white;
    font-weight: 500;
    font-size: 1rem;
    min-width: 3rem;
}

.HighlightedProduct .rating svg {
    color: #d0b55e;
}

.HighlightedProduct .pieChart {
    border: 1px solid;
    padding: 2px;
}

.HighlightedProduct .tasteProfile {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 0.9rem;
}

.priceHistoryWrapper {
    height: 100%;
    max-height: 15.5rem;
    width: 100%;
}

.pieCharts,
.isGoodFor,
.rawMaterials {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.25rem;
    margin: 0.25rem 0 0;
}

ul.rawMaterials {
    flex-direction: row;
    flex-wrap: wrap;
}

.material .fa-lg {
    margin-right: 0.5rem;
}

.material:not(:first-child) {
    margin-left: 1rem;
}

.pieChartWrapper,
.food,
.material {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.pieChart {
    border-radius: 100%;
    height: 1.25rem;
    width: 1.25rem;
    display: block;
    margin-right: 0.5rem;
}

.isGoodFor .food img {
    margin-right: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
}
.vintageButtons{
    display: flex;    
}
.vintageButtons button{
    margin: 0.5rem 0.25rem 0 0 ;
}
