.loginForm {
    max-width: 30rem;
    margin: 1rem auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.loginForm input {
    margin: 0.5rem 0;
}
.loginForm label {
    text-align: left;
}
.loginForm h2 {
    text-align: center;
}
.statusMessage {
    text-align: center;
}
.notificationSection {
    display: flex;
    text-align: left;
}
.notificationSection div {
    width: 50%;
}
