
.loginPage {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}
.loginPage.active{ 
    bottom: 0;
}
.loginPage.active .overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    transition: 0.4s 0.1s ease;
  }
.loginSection{
    max-width: 40rem;
    min-height: 30rem;
    margin: auto;
    position: absolute;
    background: #90495d;
    top: 10vh; 
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    border: 3px solid #1f2b33;
    border-radius: 3px;
}
.loginPage a{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}