.MiniProduct{
    list-style: none;
    display: flex;
    align-items: center;
}
.MiniProduct .product_img {
    height: 50px;
    width: 50px;
    margin: 6px;
    border-radius: 100%;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.MiniProduct p{
    margin: 0;
}