.MiniProduct {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 10fr 2fr;
    position: relative;
    overflow: hidden;
}

.MiniProduct .img,
.MiniProduct .name {
    cursor: pointer;
}

.MiniProduct .name {
    height: 100%;
    display: flex;
    align-items: center;
}

.MiniProduct .percentage_change {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8rem;
}

.MiniProduct .img {
    height: 50px;
    width: 50px;
    margin: 6px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
