.NotificationSettings {
    background: #90495d;
    max-width: 50rem;
    padding: 1rem;
    margin: auto;
    color: white;
    transition: max-height 0.5s 0.1s ease-in-out, padding 0.2s 0.3s ease-in-out;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}

.resultMessage {
    background: rgba(97, 160, 85, .93);
    padding: .2rem .5rem;
    border-radius: 3px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 5.5rem;
    margin: auto;
    width: 13rem;
} 

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    padding: 0.5rem;
}
.list li{
    color: black;
    padding: 0.5rem;
    border-bottom: 1px solid grey;
}
.list li:last-of-type{
    border-bottom: none;
}
.list .filter{
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr ;
    height: 1.5rem;
    list-style: none;
}
.list .filter .stores{
}
.list .filter .operations svg{
    margin-left: 10px;
}