.notificationSettings {
    background: #90495d;
    max-width: 50rem;
    padding: 1rem 1.5rem;
    margin: auto;
    color: white;
    transition: 0.5s 0.1s ease-in-out;
    position: fixed;
    right: -60rem;
    top: 0;
    bottom: 0;
    z-index: 999;
    max-height: 100%;
    overflow: auto;
    width: 100%;
    max-width: 40rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
}

.notificationSettings.active {
    right: 0;
}

.resultMessage {
    background: rgba(97, 160, 85, 0.93);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 5.5rem;
    margin: auto;
    width: 13rem;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    background: white;
    border-radius: 3px;
    overflow: auto;
}

.list li {
    color: black;
    padding: 0.5rem;
}

.list li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.list li:nth-of-type(even) {
    background: #e8edf1;
}

.list .filter {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: left;
    min-height: 1.5rem;
    max-height: 10rem;
    overflow: auto;
}

.list .filter .details {
    display: flex;
    margin-right: 1rem;
    width: 80%;
    position: relative;
}

.list .filter .details > div {
    width: 50%;
}

.changeName {
    display: flex;
    align-items: center;
}

.changeName button {
    margin-left: 0.5rem;
}

.list .listHeaders {
    font-weight: bold;
    border-bottom: 3px solid grey;
}

.list .operations {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileStatusBar {
    top: 0;
    right: 0;
    position: fixed;
    color: white;
    text-align: right;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: #4f5e65b0;
    border-bottom-left-radius: 3px;
}

.profileStatusBar button,
.profileStatusBar a {
    cursor: pointer;
    margin-left: 1rem;
}

.notificationSettings .toggleSettings {
    font-size: 1.5rem;
    margin-left: -1rem;
}

.notificationSettings .toolbar {
    background: rgba(0, 0, 0, 0.3);
    margin: -1rem -1.5rem 1rem;
    padding: 0.5rem 1.5rem;
}

.deleteWarning form {
    display: flex;
    background: white;
    color: black;
    padding: 1rem;
    align-items: center;
    border-radius: 3px;
}

.switchLoginNotice {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-align: right;
}

.deleteWarning button {
    margin-left: 1rem;
}

@media(max-width: 768px) {
    .notificationSettings {
        padding: 1rem 0.5rem;
    }
    
.notificationSettings .toolbar {
        margin: -1rem -0.5rem 1rem;
    }
}
