.expandedProduct {
    background: white;
    box-shadow: 2px 2px 9px rgb(0 0 0 / 50%);
    border-radius: 3px;
    max-width: 25rem;
    z-index: 9999;
    padding: 1rem;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    overflow-y: overlay;
    overflow-x: hidden;
}

.fa-external-link-alt {
    margin-left: 0.5rem;
}

.expandedProduct .title {
    margin: 0.5rem 0;
    font-weight: 400;
}

.expandedProduct .graph {
    height: 12rem;
    max-height: 30vh;
    grid-area: gra;
    margin: -0.6rem;
}

.expandedProduct .ProductComp,
.expandedProduct .ProductComp > button {
    cursor: default;
    box-shadow: none !important;
    outline: none !important;
}

.expandedProduct .ProductComp .product_img {
    min-height: 150px;
}

@media(max-width: 768px) {
    .expandedProduct {
        padding: 0.5rem;
        margin-top: 10px;
        width: calc(100% - 20px);
    }
}
