.Productlist {
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
    border-top: 1px solid;
}

.main > p {
    margin: 0 0 1rem;
    text-align: center;
}

.before-products {
    display: flex;
    justify-content: space-between;
}

.before-products p,
.before-products select {
    margin: 2.5px 0;
    font-size: 0.85rem;
}

ul.product-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    position: relative;
    min-height: 23rem;
}

.toggle {
    opacity: 0;
    transition: 0.2s;
    position: relative;
    z-index: 10;
}

.toggle.enter-done {
    opacity: 1;
    position: relative;
    z-index: 10;
}

.priceGraphWrapper {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30rem;
    width: 100%;
    left: 0;
    right: 0;
}

.product-list .fa-circle-notch {
    opacity: 0.4;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.backdrop label {
    text-align: center;
    display: block;
    z-index: 999999;
    color: white;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 0.8rem;
}

.backdrop {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: fixed;
}

.productNavigation {
    margin: 1rem auto;
    z-index: 99999;
    width: 100%;
    max-width: 27rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}

.productNavigation .productNav {
    font-size: 1.5rem;
}

.nav {
    display: grid;
    grid-template-areas: "discount discount" "filtersaver filtersaver" "types countries" "stores stores" "sorting time";
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    width: 100%;
}

.nav .timespan {
    grid-area: time;
}

.nav .discount-filter {
    grid-area: discount;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;
    height: 4rem;
}

.nav .discount-filter .clickable {
    padding: 1rem 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 100;
    position: relative;
    outline: none;
    opacity: 1;
    font-size: 1rem;
    background: white;
    color: black;
    border-bottom: 5px solid rgba(0, 0, 0, 0.562);
}

.nav .discount-filter .clickable.active {
    border-bottom: 5px solid #d0b55e;
}

.nav .discount-filter .clickable:active,
.nav .discount-filter .clickable:hover {
    border-bottom: 5px solid #d0b55e79;
}

.nav .stores,
.nav .sorting,
.nav .timespan {
    width: 100%;
    min-width: 16rem;
}

.nav .stores {
    grid-area: stores;
}

.nav .sorting {
    grid-area: sorting;
}

.filter.countries {
    grid-area: countries;
}

.filter.types {
    grid-area: types;
}

.resetFilter.inactive {
    opacity: 0.3;
    cursor: default;
}

.filter-items.hidden .filter-item.false {
    display: none;
}

.filter-heading {
    font-weight: 400;
    margin-bottom: 5px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.filterSaver {
    background: #90495d;
    display: flex;
    padding: 1rem;
    color: white;
    align-items: center;
    grid-area: filtersaver;
    height: 4rem;
    box-sizing: border-box;
}

.filterSaver > div {
    margin-left: 2rem;
}

@media(max-width: 1024px) {
    ul.product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 768px) {

    .main {
        display: block;
    }

    ul.product-list {
        grid-gap: 5px;
    }

    .info {
        text-align: left;
    }

    .before-products {
        flex-direction: column-reverse;
    }

    .filter legend {
        font-size: 1.5rem;
    }

    .filter-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        position: relative;
    }

    .filter-items.visible {
        overflow-y: scroll;
        position: absolute;
        background: white;
        z-index: 2;
        left: 0;
        right: 0;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
        max-height: 50vh;
    }

    .nav .stores,
    .nav .sorting,
    .nav .timespan {
        width: 100%;
        min-width: unset;
    }

    .priceGraphWrapper {
        margin: 0;
    }

    .productNavigation {
        background: #49908d;
        border: none;
        margin: -5px 0 0;
    }
}

@media(max-width: 540px) {
    ul.product-list {
        grid-template-columns: 1fr 1fr;
    }
}
