.SearchBar {
    grid-area: search;
}

input.searchbox {
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    background: none;
    min-height: 38px;
    font-size: 0.85rem;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

input.searchbox:focus {
    background-color: rgba(0, 0, 0, 0.05);
}

.SearchBar button.close {
    background: none;
    border: none;
    margin-left: -2rem;
    outline: none;
}
