.Body {
  min-height: 70vh;
}

.App {
  background: #fafafa;
  overflow: hidden;
}

footer {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

footer span {
  display: block;
  padding: 1rem 0;
}

.clickable:hover {
  opacity: 0.7;
}

ul,
li {
  list-style: none;
}

.clickable {
  transition: 0.1s 0.05s;
  text-align: center;
  border: none;
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  cursor: pointer;
}

.select__multi-value__remove {
  border-top-right-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.select__control .select__value-container .select__multi-value,
.select__multi-value__label {
  background: #8d827e;
  color: white !important;
  font-weight: 400;
  border-radius: 3px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.select__menu {
  z-index: 2;
}
.main .select__control {
  border-radius: 0;
  border: none;
  box-shadow: none !important;
  background: none;
}

.select__control--menu-is-open:after {
  content: "";
  position: fixed;
  top: -100vh;
  bottom: -100vh;
  left: -100vw;
  right: -100vw;
  z-index: 1;
}

.main .select__control:focus-within {
  background-color: rgba(0, 0, 0, 0.05);
}

.main .select__control:focus-within:before {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid #d0b55e !important;
}

.main .select__control:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

.main .select__control:hover:before {
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.noinput.select__indicators {
  width: 100%;
  position: absolute;
}

.noinput.select__indicator.select__dropdown-indicator {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.MuiInputBase-root {
  display: block !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgba(0, 0, 0) !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #d0b55e !important;
}

.select__indicator.select__dropdown-indicator svg,
.select__indicators .select__indicator-separator {
  display: none;
}

.select__indicator.select__dropdown-indicator {
  position: relative;
}

.select__indicator.select__dropdown-indicator:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.54);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 7px 7px auto auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  font-size: 1rem;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.562);
  background: rgba(230, 230, 230, 0.85);
  padding: 0.5rem 0.2rem;
  width: 100%;
}

input[type="text"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #d0b55e;
}

button {
  cursor: pointer;
}

.bigRedBtn {
  background: rgb(177, 75, 72);
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
}

.bigGoldBtn {
  background: #fdb542;
  border: none;
  color: black;
  padding: 0.5rem;
  opacity: 1;
  border-radius: 3px;
}

.bigWhiteBtn {
  background: white;
  border: none;
  color: black;
  padding: 0.5rem;
  opacity: 1;
  border-radius: 3px;
}
.wide {
  width: 100%;
}
.bigGreenBtn {
  background: #54814c;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
}

.greenBtn {
  background: #54814c;
  border: none;
  color: white;
  padding: 0.25rem;
  border-radius: 3px;
  font-size: 0.8rem;
}

.bigGreenBtn svg {
  margin-left: 0.25rem;
}

.bigGreenBtn svg {
  margin-left: 0.5rem;
}

.iconBtn {
  background: none;
  color: white;
  box-shadow: none;
  border: none;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));
  transition: filter 0.2s;
  outline: none !important;
  font-size: 1rem;
}

.iconBtn:active {
  opacity: 0.7;
}

.iconBtn:hover {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.iconBtn:focus {
  color: #d0b55e !important;
}

.dark {
  color: #4c4c4c;
}

.percentage_change {
  color: white;
  padding: 0.35rem 0.5rem;
  font-weight: 400;
  display: block;
  text-align: center;
  border-bottom-right-radius: 16px;
}

button.link {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.price_raised .percentage_change {
  background: rgb(177, 75, 72);
  color: white;
}

.price_lowered .percentage_change {
  background: #557a4e;
  color: white;
}

a.clickable {
  text-decoration: none;
}

.productWatchBtns {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
}

.productWatchBtns .unwatched {
  color: #555555;
}

.productWatchBtns .watched {
  color: rgb(177, 75, 72);
}
.fixed {
  position: fixed !important;
}
.left {
  left: 1.5rem;
}
.bottom {
  bottom: 1.5rem;
}
.rating {
  display: flex;
  align-content: center;
  gap: 4px;
  align-items: center;
  font-weight: 400;
}
