.App-header {
  background-color: #49908d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
  border-bottom: 3px solid #1f2b33;
  position: relative;
  z-index: 5;
}

.App-header h1 {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.logo {
  overflow: visible;
  margin-top: -4rem;
  margin-bottom: 2rem;
  transform: scale(0.75);
  margin-right: 10px;
}
.App-header > a {
  cursor: pointer;
}
@media (max-width: 768px) {
  .logo {
    transform: scale(0.5);
    margin-top: -5rem;
    margin-bottom: 0;
  }
}

.App-header p {
  margin: 0 0 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 400;
}
.Body {
  min-height: 70vh;
  position: relative;
}
footer {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
footer span {
  display: block;
  padding: 1rem 0;
}
.clickable:hover {
  opacity: 0.7;
}
.clickable {
  transition: 0.1s 0.05s;
  text-align: center;
  border: none;
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 0.85rem;
  cursor: pointer;
  max-height: 1.2rem;
}
.clickable:focus,
button:focus,
select:focus {
  outline-style: auto;
}

.select__control
.select__value-container
.select__multi-value,
.select__multi-value__label{
    background: #d0b55e;
    color: white!important;
    font-weight: 400;
}
.select__menu
.select__menu-list
.select__option.select__option--is-focused:not(.select__option--is-selected ){
  background-color:white;
}
.select__menu .select__menu-list .select__option.select__option--is-focused:hover,
.select__menu .select__menu-list .select__option.select__option--is-focused:focus{
  background-color:#d0b55e7c;
}


.noinput.select__indicators {
  width: 100%;
  position: absolute;
}
.noinput.select__indicator.select__dropdown-indicator{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
span.noinput.select__indicator-separator,
.noinput.select__value-container  .noinput.select__input > input{
  display: none;
}