body,
button,
input
  {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 350;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.fa-circle-notch {
    animation: rotation 2s infinite linear;
    margin: auto;
    width: 100%;
    display: block;
}


.loader-wrapper .fa-circle-notch {
    opacity: 0.4;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

img.loader {
    animation: fade 0.5s infinite alternate-reverse;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}
